/* balise global*/
.title{
    font-size: 2em;
    margin: auto;
}

/*fentre modale*/
dialog{
    position: fixed;
    top:5%;
    left:0;
    width: 90%;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    margin:10px;
    visibility: hidden;
}
.info_film img{
    height: 269px;
    width: 182px;
}
.info_film div{
    display: flex;
    flex-direction: row;
}
.detail{
    display: flex;
    flex-direction: column;
    color: white;
}
.info{
    color: cadetblue; 
    font-size: 12px;
    font-weight: bold;
}
.info span{
    color:white
}

/*corp de la page */
body{
    color: white;
    background: rgb(41, 33, 85);
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/*css des bouton*/
.bouton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.bouton:hover {
    background-color: rgba(255, 0, 0, 1);
}
.bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/* en-tête */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#img_title{
    height: 20%;
    width: 20%;
    margin: auto;
}

/* section du meilleur film*/
#best_film{
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    margin-left: 30%;
    flex-direction: column;
}
#best_film_img{
    height: 400px;
    width: 300px;
}
.best_film_data{
    display: flex;
}
.data_film{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.data_film .bouton {
    width: 7em;
}

/** carrousel*/
img{
    height: 90%;
    width: 90% ;
    border: 5px black double;
    border-radius: 10px;
}
.container{
    margin-right: 10%;
    margin-left: 10%;
}
.carrousel{
    position: relative;
    overflow: hidden;
   
}
.carrousel__container{
    display: flex;
    flex-direction: row;
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0 );
}
.carrousel__container::after{
    content: "";
    clear:both;
    display: table;
}
.carrousel__item{
    float: left;
    width: 100%;
    height: 100%;
    padding: 1%;
}
.carrousel__next, .carrousel__prev{
    position:absolute;
    width:50px;
    height: 50px;
    background: white url(image/next.svg) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 0px;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    cursor:pointer;
    transition: transform 0.3s, opacity 0.3s;
}
.carrousel__next:hover , .carrousel__prev:hover{
    transform: scale(1.2);
}
.carrousel__prev{
    background: white url(image/prev.svg) center center no-repeat;
    background-size: 20px 20px;
    right : auto;
    left: 0px;
}
.carrousel__prev--hidden, .carrousel__next--hidden{
    opacity: 1;
}